/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Header and Footer Styles */
#header, #footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Recipe Container Styles */
#recipe {
    background-color: #fff;
    border: 2px solid #8B4513;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ingridients and Steps Styles */
.ingrdients, .steps {
    margin-bottom: 20px;
}

.ingrdients h2, .steps h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 1.5em;
    color: #8B4513;
    border-bottom: 2px
}
